body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.mainTable{
  height: 600 px;
  width: 1566 px;
  overflow-y: auto;
  overflow-x: auto;
}

.cell{
  width:80px;
}

.Hcell{
  height: 50px
}

.inputW1{
  width:40px;
}

.attrTable{
  width: 350px;
  overflow-y: scroll;
  height: 560px;
}

.mytddivclass {
  width:80px;
  word-wrap:break-word;
}

.tableAttr{
  width: 350px;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  word-wrap: break-word; 
  word-break: break-all;
}

.panel {
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.attrTableTdWide{
  width: 32%;
}
.attrTableTdNarrow{
  width: 32%;
}

.attrTr{
  width: 350px;
}

.show-table-cell{
  display: table-cell;
}


.hidden{
  display: none;
}